body {
    font-family: 'Poppins', sans-serif;
}

.primary-color {
    background-color: rgb(38, 70, 83);
}

.navbar {
    top: 42px;
}

.btn-1 {
    background-color: rgb(231, 111, 81);
    width: 90px;
    height: 45px;
}

.btn-2 {
    background-color: rgb(231, 111, 81);
    width: 145px;
    height: 45px;
}

.btn-3 {
    border-color: rgb(231, 111, 81);
    width: 160px;
    padding: 15px;
}

.nav-item a:hover {
    color: rgb(231, 111, 81);
}

.header-container {
    padding-top: 100px;
}

.text-color {
    color: rgb(231, 111, 81);
}

.bar {
    background-color: rgb(231, 111, 81);
    width: 50px;
    height: 2px;
}

.fetured-bike {
    width: 350px;
    height: 300px;
}

.card-body a:hover {
    background-color: rgb(231, 111, 81);
    color: white;
}

.user-image {
    border-radius: 130px;
    height: 160px;
    width: 160px;
}

.faq-img {
    width: 35%;
}

.accor-container {
    width: 60%;
    padding-left: 50px;
}

.text-with-bar {
    position: relative;
}

.text-with-bar::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background: rgb(231, 111, 81);
}